<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Project</title>
</head>

<body>
    <div class="row">
        <div >
            <H1>
                notre temperature est {{temperature}}
            </H1>
            <br />
            <h1>
                Notre humidite {{humidity}}
            </h1>
        </div>
        <div >
            <H1>
                {{temperature}}
            </H1>
            <br />
            <h1>
                {{humidity}}
            </h1>
        </div>
    </div>
    

    
</body>

</html>